Package: Shock-OS-Imager
Version: 1.0
Architecture: all
Essential: no
Priority: optional
Depends: yad,wget,xz-utils,zenity
Maintainer: Carson Grover
Description: Install Shock OS onto an external SD card or USB drive.
